@charset "utf-8";
header {
    background-color: #FFFFFF;
    padding: 10px;
    width: 930px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
footer {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    color: #FFFFFF;
}
#page-content {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    border-top: 8px solid #49A9E3;
}
nav {
    width: 200px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    float: right;
    background-color: #FFFFFF;
    margin-top: 15px;
    text-align: right;
	color: black;
	font-size: 10px;
	border-left: 8px;
	

}
#main-copy {
    width: 500px;
    min-height: 200px;
    margin-right: 50px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    float: left;
    background-color: #FF976F;
}
#sidebar {
    width: 290px;
    min-height: 200px;
    float: right;
    background-image: url(images/parchment.png);
    background-position: center bottom;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-repeat: no-repeat;
}
body {
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-image: url(images/floor.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background-color: #FFFFFF;
}
h1 {
    color: black;
    font-size: 30px;
}
h2 {
    margin-top: 30px;
    margin-bottom: 5px;
    color: black;
    font-size: 24px;
}
h3 {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 15px;
}
p {
    margin-bottom: 10px;
}
a {
    color: hsla(16,71%,19%,1.00);
    font-weight: bold;
}
a:hover {
    color: hsla(33,96%,38%,1.00);
}
figure {
    width: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
}
figcaption {
    font-style: italic;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
}
#main-copy figure img {
    width: 300px;
}
#sidebar p {
    text-align: center;
    padding-bottom: 5px;
}
#sidebar h2 {
    margin-bottom: 10px;
    text-align: center;
    border-bottom: thin solid hsla(16,71%,19%,1.00);
}
nav p {
    margin-top: 15px;
    font-size: 18px;
}
